<h1>Modifier un template</h1>

<%= simple_form_for [:admin, @user_template], :as => :user_template do |f| %>
  <p>
    Utiliser la dernière version de <%= @user_template.scm_url %>
  </p>
  <%= f.button :submit, :cancel => :back %>
<% end %>
