<h2>Bonnes Ondes<sup>beta</sup></h2>

<ul>
  <% unless current_user.shows.empty? %>
    <% for show in current_user.shows.find(:all, :order => "created_at desc") %>
      <li><%= link_to_admin_show show %></li>
    <% end %>
  <% else %>
    <li><%= link_to "Renseigner votre première émission", new_admin_show_path %></li>
  <% end %>
</ul>
